* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: Arial, Helvetica, sans-serif;
}

.header.logo {
  color: #F9FAF8;
  font-size: 24px;
  padding-left: 150px;
}

.header.container {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  gap: 12px;
  padding-right: 150px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.right-links{
  font-size: 18px;
  color: #E5E7EB;  
}

.hero-container {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  min-height: 350px;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hero-main {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.hero-secondary {
  font-size: 18px;
  color: #E5E7EB;
  padding-top: 8px;
  padding-bottom: 8px;
}

.button-hero {
  background-color: #3882F6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  height: 30px;
}

.img{
  max-height: 200px;
  max-width: 200px;
}

.quick-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
  flex-direction: column;
  margin-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
}

.quick-link-head {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  padding-top: 30px;
  padding-bottom: 40px;
}
.quick-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 140px;
}

.food {
  max-width: 140px;
  max-height: 140px;
  border: 3px solid #3882F6;
  border-radius: 16px;
}

.food-text {
  color: #1F2937;
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #E5E7EB;
  padding-left: 150px;
  padding-right: 150px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.author {
  font-size: 24px;
  font-weight: bolder;
  color: #1F2937;
  align-self: flex-end;
}